<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="productpage/css/style.css">
    <script src="https://kit.fontawesome.com/9d894ae6cb.js" crossorigin="anonymous"></script>
    <title>Rubberducky - Product Page</title>
</head>
<header>
    <p class="logo">
        <a href="index.html">
        <img alt="logo" src="img/rubberducky.png" width="200" height="">
        </a>
        </p>
        
    </div>
        
    <div class="search">
        <form>
            <div class="form-box">
            <input type="text" class="search-field business"
            placeholder="Search for ducks by color, size or costume...">

            <button class="search-btn"
            type="form-button">Search</button>
            </div>
        </form>
      </div>

    <div id="basket" >
       <a href="basket.html"><i class="fas fa-shopping-cart"></i></a> 
    </div>
</header>
    <body>
        <main>  
        <section id="alphamiddle">

            <div id="headline">List of All Products</div>

                <div id="alphamiddlebox">
                    <div class="middlebox">
                        <div class="category_img"><img src="img/colorduck.png" alt="beautything1" width="200" height="200"></div>
                        <div class="category_text">Data Here</div>
                        <a href="basket.html" class="link_button">BUY</a>
                    </div>
                                            
                </div>  
            </div>                                                 
        </section>
        </main>
<footer>
    <p>We are Rubberducky.</p>
    <p>You Can Read More About us Here: <a class="wtf" href="about.html">Click</a></p> 
    <p>Contact: 45+ 23 96 69 07</p>
</footer>
</body>
</html>

